#flower-canvas {
    position: absolute; /* Para que ocupe el fondo */
    top: 0;
    left: 0;
    width: 100%; /* Asegurar que cubra toda la pantalla */
    height: 100%; /* Asegurar que cubra toda la pantalla */
    z-index: -1; /* Z-index negativo para estar siempre detrás */
 background: linear-gradient(to bottom, rgb(246, 255, 204) 0%, rgb(255, 195, 223) 100%);
    margin-top: 50px;
    pointer-events: none; /* Para evitar que interfiera con el contenido */
}



.historiass {/*Separacion botones y personajes */
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    gap: 100px; /* Ajusta el valor para definir el espacio entre los elementos */
}

.historia img {/*Imagenes personajes florentino*/
    display: flex;
    left: 890px; /* Ajusta la posición desde la izquierda */
    width: 346px; /* O ajusta al tamaño deseado */
}

.historia1 img {/*Imagenes personajes fermina*/
    display: flex;
    left: 890px; /* Ajusta la posición desde la izquierda */
    width: 318px; /* O ajusta al tamaño deseado */

}

/* Estilos para pantallas de 1024px o menos */
@media (max-width: 1024px) {
    .historiass {
        gap: 50px; /* Reduce el espacio entre los botones/personajes */
    }

    
}

/* Estilos para pantallas de 780px o menos */
@media (max-width: 780px) {
    .historiass {
        flex-direction: column; /* Cambia la disposición a columna para mejor visualización */
        gap: 30px; /* Reduce aún más el espacio entre elementos */
    }

    .historia img {
        left: 0; /* Centra la imagen de Fermina */
        margin: 0 auto; /* Asegura que esté centrada en pantallas pequeñas */
    }

    .historia1 img {
        left: 0; /* Centra la imagen de Fermina */
        margin: 0 auto; /* Asegura que esté centrada en pantallas pequeñas */
    }

    #flower-canvas {
        
        width: 100%; /* Asegurar que cubra toda la pantalla */
        height: 1450px; /* Asegurar que cubra toda la pantalla */
        background: linear-gradient(to bottom, rgb(246, 255, 204) 0%, rgb(255, 195, 223) 100%);
       }


}
