/*Cuerpo de principal*/
 
.intro, .como-funciona {
    position: relative; /* Para que estos elementos se posicionen sobre el canvas */
    z-index: 2; /* Z-index alto para estar encima del canvas */
    color: rgb(0, 0, 0); /* Asegúrate de que el texto sea visible */
    padding: 20px; /* Espaciado interno */
}  
.cards-container {
    width: 90%;
    margin: 0 auto; /* Esto centra horizontalmente el contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 375px) and (max-width: 1280px) {
    .cards-container {

        flex-wrap: wrap;  
        font-size: 16px;
        padding: 20px;
    }
}

.card {
    display: flex;
    justify-content: space-between;;
    align-items: center; /* Asegura que el contenido dentro de cada tarjeta esté centrado */
    background-color: #ffc8bb;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card p{
    font-size: 20px;

    color: rgb(86, 63, 30);
}

.card h2{
    font-size: 27px;
    font-weight: bold;
    color: rgb(86, 63, 30);
}


.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el cursor */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura que el contenido dentro de cada tarjeta esté centrado */
    background: rgba(255, 192, 203, 0.5); /* Fondo rosado con 50% de transparencia */
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover h2 {
    font-weight: bold;
}

.content {
    flex: 2;
    color: #3b2d29;
    margin-right: 20px; /* Añade espacio entre el texto y la imagen */
}



.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    width: 150px; /* Ajusta el tamaño de la imagen según lo necesario */
    height: auto;
}



@media (min-width: 375px) and (max-width: 1280px) {
    .card {

        flex-wrap: wrap;  
        font-size: 16px;
        padding: 20px;
    }
}

@media (min-width: 375px) and (max-width: 1280px) {
    .content {

        flex-wrap: wrap;  
        font-size: 16px;
        padding: 20px;
    }
}
