.historias {/*Separacion botones y personajes */
    display: flex;
    justify-content: center;
    gap: 200px;
}

.historia img {/*Imagenes personajes florentino*/
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.historia1 img {/*Imagenes personajes fermina*/
    width: 224px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.historia button {/*Florentino boton */
    margin-top: 10px;
    padding: 25px 20px;
    background-color: #d07465;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}

.historia1 button {/*Fermina boton */
    margin-top: 10px;
    padding: 25px 20px;
    background-color: #d07465;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}
