.zigzag-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.card1 {
    position: relative;
    width: 500px;
    margin: 0;
}

.card1:nth-child(odd) {
    align-self: flex-start;
    margin-left: 500px;
}

.card1:nth-child(even) {
    align-self: flex-end;
    margin-right: 500px;
}

.card1 img {
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 9px solid #d8d8d8;
    border-radius: 8px;
}

.download-icon {
    position: absolute;
    bottom: 15px;
    right: 70px;
    font-size: 24px;
    text-decoration: none;
    color: #333;
    background-color: rgba(245, 195, 195, 0.566);
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s;
}

.whatsapp-icon {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #333;
    background-color: rgba(245, 195, 195, 0.566);
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s;
}

.download-icon:hover {
    background-color: rgba(248, 87, 87, 0.8);
    color: #fff;
}

.whatsapp-icon:hover   {
    background-color: rgba(248, 87, 87, 0.8);
    color: #fff;
}

