.historiass {/*Separacion botones y personajes */
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
}

.historia img {/*Imagenes personajes florentino*/
    display: flex;
    margin: 0 auto;
}

.historia1 img {/*Imagenes personajes fermina*/
    display: flex;
    left: 700px; /* Ajusta la posición desde la izquierda */
    width: 650px; /* O ajusta al tamaño deseado */
    height: auto; /* Mantiene la proporción */
}


