/* Lugares*/


/* Estilos del contenedor del carrusel */
.carousel {
    position: relative;
    max-width: 600px;
    height: auto;
    margin: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center; /* Centrar el contenido dentro del carrusel */
}

/* Ajustes de las imágenes */
.carousel img {
    margin: auto;
    width: 550px;
    height: 550px; /* Fijar la altura de las imágenes */
    object-fit: cover; /* Ajustar las imágenes para que no se distorsionen */
    display: none;
}

.carousel img.active {
    display: block;
}

/* Estilos para los botones de navegación */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
    border-radius: 50%;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos del reproductor de audio */
.audio-container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

audio {
    width: 100%;
}

.carousel-text {
    position: absolute;
    bottom: 20px; /* Ajusta la posición según tus necesidades */
    left: 20px;
    color: white; /* Cambia el color según el fondo */
}
.modal {
    display:flex;
    position: relative;
    width: 850px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(180deg, #746390 10%, #8eaab8 60%);
}

.modal-content {
    display: flex;
    color: #000000;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    text-align: center; /* Mantiene el texto centrado */
}
