.Footer {
    padding: 20px;
    max-width: 1280px; /* Ancho máximo del header */
    background-color: #878BA6;
    display: flex;
    justify-content: row;
    align-items: center;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    font-weight: bold;
  }

  
  @media (max-width: 1280px) {
    .Footer {
        display: flex;
        flex-wrap: wrap;            /* Permite que los elementos se ajusten si es necesario */
    }

}  
  /* ACHES H1... */
  
  :root {
    --h-1-font-family: "PMingLiU-ExtB", serif;
    --h-1-font-weight: 700;
    --h-1-font-size: 42px;
    --h-1-letter-spacing: 0px;
    --h-1-line-height: 66px;
    --h-1-font-style: normal;
    
    --h-2-font-family: "PMingLiU-ExtB", serif;
    --h-2-font-weight: 400;
    --h-2-font-size: 18px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: 30px;
    --h-2-font-style: normal;
    
    --h-3-font-family: "PMingLiU-ExtB", serif;
    --h-3-font-weight: 500;
    --h-3-font-size: 16px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: 18px;
    --h-3-font-style: normal;
    
    --h-4-font-family: "PMingLiU-ExtB", serif;
    --h-4-font-weight: 700;
    --h-4-font-size: 18px;
    --h-4-letter-spacing: 0px;
    --h-4-line-height: 18px;
    --h-4-font-style: normal;
    
    --h-5-font-family: "PMingLiU-ExtB", serif;
    --h-5-font-weight: 400;
    --h-5-font-size: 18px;
    --h-5-letter-spacing: 0px;
    --h-5-line-height: 18px;
    --h-5-font-style: normal;
    
    --h-6-font-family: "PMingLiU-ExtB", serif;
    --h-6-font-weight: 900;
    --h-6-font-size: 25px;
    --h-6-letter-spacing: 1.75px;
    --h-6-line-height: normal;
    --h-6-font-style: normal;
  }
  
  h1 {
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    font-size: var(--h-1-font-size);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    font-style: var(--h-1-font-style);
    color: #000000;
  }
  
  h2 {
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    font-size: var(--h-2-font-size);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  h3 {
    font-family: var(--h-3-font-family);
    font-weight: var(--h-3-font-weight);
    font-size: var(--h-3-font-size);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    font-style: var(--h-3-font-style);
  }
  
  h4 {
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
  }
  
  h5 {
    font-family: var(--h-5-font-family);
    font-weight: var(--h-5-font-weight);
    font-size: var(--h-5-font-size);
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    font-style: var(--h-5-font-style);
  }
  
  h6 {
    font-family: var(--h-6-font-family);
    font-weight: var(--h-6-font-weight);
    font-size: var(--h-6-font-size);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    font-style: var(--h-6-font-style);
  }
  