.historiass {/*Separacion botones y personajes */
    display: flex;
    justify-content: center;
    gap: 200px;
}

.historia img {/*Imagenes personajes florentino*/
    display: flex;
    margin: 0 auto;
}

.historia1 img {/*Imagenes personajes fermina*/
    margin-top: 5000000;
    padding-top: 35px;
    width:150px;
    height: auto;
    display: flex;
   
}

