/* Estilo general para todos los dispositivos */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PMingLiU-ExtB', serif;
    background-color: #f2e8cf;
    color: #000000;
    margin: 0;
    padding: 0;
}

@media (min-width: 370px) and (max-width: 1280px) {
    body {

        flex-wrap: wrap;  
        font-size: 16px;
        padding: 20px;
    }
}


/*Cuerpo del main*/
main {
    padding: 20px;
    text-align: center;
}

.intro h1 {/*El amor en tiempo de colera */
    font-size: 4em;
    margin-bottom: 10px;
}

.intro p {/*escoge la*/
    font-size: 2em;
    margin-bottom: 40px;
}










/*Lo ultimo */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between; /* Espaciado uniforme entre los elementos */         
    width: 100%;  
    color: #fff;    
    background-color: #878ba6;
    padding: 10px 20px; ;/*Tamaño morado*/
    text-align: center;
    font-size: 2.5em;
}

@media (max-width: 370px) {
    footer {
        display: flex;
        flex-wrap: wrap;            /* Permite que los elementos se ajusten si es necesario */
    }

}

img{
    width: 100%;
    height: auto;
}


